.navbar{
  padding: 0;
  margin-bottom: 2rem;
}

.navBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
  background-color: #0e5d6a;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 6px 24px #0004, 0 1.5px 6px #c66bb94a;
  
  a{
    color: #d6e2f5;
  }
  
  &__left {
    display: flex;
    &--logo {
      background-image: url("./../../images/image.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 80px;
      height: 80px;
      display: inline-block;
      // border: 1px solid black;
      border-radius: 0 0 0 25px;

    }

    .nav-item {
  position: relative;
  padding: 0 1rem;

  &::after {
    content: '|';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #d6e2f5;
    font-size: 1rem;
    pointer-events: none;
  }

  &:last-child::after {
    content: '';
  }

  .nav-link {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 0.5rem 1.2rem;
    border-radius: 12px;
    transition: transform 0.3s ease;

    // הקו שצומח מהאמצע
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0.3rem; // קצת מעל הקצה התחתון של הפדינג
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: translateX(-50%) scaleX(0);
      transform-origin: center center;
      transition: transform 0.35s ease;
      border-radius: 2px;
      pointer-events: none;
    }

    &:hover,
    &:focus-visible {
      transform: scale(1.2);

      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}
    &--languages {
  color: #0e5d6a !important;

  .nav-link {
    transform: none !important; // לא יגדיל
    &:hover,
    &:focus-visible {
      transform: scale(1.05) !important; // או בלי הגדלה בכלל
    }
  }
}
  }

  &__right {
    
    &--cart{
            display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      width: 48px;
      height: 48px;
      margin-right: 1rem;

      .fa-cart-shopping{
        font-size: 1.5rem ;
        color: rgb(212, 140, 85);
        // margin: 1rem ;
      }
    }
  }
}