html,
body {
  margin: 0;
  padding: 0;
  // overflow-x: hidden; // Do not turn it on!!
  padding-bottom: 50px; // For footer-adminPanel
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: black;
  letter-spacing: 0;
  // direction: rtl; /* Right-to-left text direction */

  // -- Variables for colors
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #0e5d6a;
  --third-color: #30849183;
}
body {
  background: #f8fafc;
  color: #222;
  transition: background 0.2s, color 0.2s;
  width: 90%;
  margin: 0 auto;
}
 
:root {
  font-size: 16px; /* 1rem = 16px */
  /* 
  margin: 2rem;  = 32px
  padding: 1.5rem; = 24px
  font-size: 0.875rem;  = 14px
  */
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}
li:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

body {
  background-color: var(--primary-color);
}

button {
  border: none;
  &:hover {
    background-color: #f4dac1;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
////////////////////////////
@import "navBar";
@import "mainProductCards";
@import "adminPanel-Footer";
    