html,
body {
  margin: 0;
  padding: 0;
  // overflow-x: hidden; // Do not turn it on!!
  padding-bottom: 50px; // For footer-adminPanel
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: black;
  letter-spacing: 0;
  // direction: rtl; /* Right-to-left text direction */

  // -- Variables for colors
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #0e5d6a;
  --third-color: #30849183;
}
body {
  background: #f8fafc;
  color: #222;
  transition: background 0.2s, color 0.2s;
  width: 90%;
  margin: 0 auto;
}
// body.dark-theme {
//   background: #181c24;
//   color: #f5f5f5;
// }
// body.dark-theme .navBar {
//   background: #474d5a;
// }
// body.dark-theme .card {
//   background: #232a37;
// }
// body.dark-theme .card-text {
//   color: #fff;
// }
// body.dark-theme .adminPanel__form input,
// body.dark-theme .adminPanel__form label,
// body.dark-theme .adminPanel__f orm span {
//   background: #232a37;
//   color: #fff;
//   border-color: #333;
// }

:root {
  font-size: 16px; /* 1rem = 16px */
  /* 
  margin: 2rem;  = 32px
  padding: 1.5rem; = 24px
  font-size: 0.875rem;  = 14px
  */
}

$btn-backgroudcolor-before: #d6e2f5;
$btn-backgroudcolor-hover: rgb(23, 58, 120);

ul {
  list-style: none;
}

li {
  cursor: pointer;
}
li:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

body {
  background-color: var(--primary-color);
}

button {
  border: none;
  &:hover {
    background-color: #f4dac1;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
////////////////////////////
@import "navBar";
@import "mainProductCards";
@import "footer";

.main {
  margin: auto;

  &__contentHeader {
    text-align: center;

    &--header {
      margin-bottom: 2rem;
      margin-top: 5rem;

      h2 {
        font-family: "Playwrite AU QLD", cursive;
        font-size: 2.5rem;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  &__productsCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 5rem;

    margin: auto;
    max-width: 1200px;

    &--product {
      flex: 1 1 calc(33.333% - 1.5rem);
      max-width: calc(30% - 1.5rem);
      min-width: 300px;

      margin-bottom: 1rem;
      border-radius: 18px;
      box-shadow: 0 4px 12px 0 rgba(50, 50, 93, 0.13),
        0 1.5px 3px 0 rgba(0, 0, 0, 0.08);
      transition: box-shadow 0.3s cubic-bezier(0.4, 0.2, 0.2, 1) 0s,
        transform 0.3s cubic-bezier(0.4, 0.2, 0.2, 1) 0s;
      background: #fff;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      &:hover {
        box-shadow: 0 8px 32px 0 rgba(23, 58, 120, 0.22),
          0 1.5px 12px 0 rgba(0, 0, 0, 0.12);
        transform: translateY(-6px) scale(1.01);
      }

      .card-img-top {
        width: 100%;
        height: clamp(200px, 25vh, 300px);

        object-fit: cover; /* Cropping the image instead of distorting it */ /* for img */
        background-size: cover; /* for backgroung-img */

        border-radius: 18px 18px 0 0;
        cursor: pointer;
      }

      // Phones
      @media (max-width: 576px) {
        .card-img-top {
          height: 150px;
        }
      }

      // Tablets
      @media (min-width: 768px) and (max-width: 1199px) {
        .card-img-top {
          height: 220px;
        }
      }

      // Wide
      @media (min-width: 1200px) {
        .card-img-top {
          height: 250px;
        }
      }

      .card-body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .nameProduct {
          text-align: center;
          margin: 1.5rem 1.5rem 0;
        }

        .priceAndStock {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.2rem;
          padding: 0 0 1.5rem;
          margin-top: auto;

          // .priceProduct{

          // }

          .separator {
            color: #aaa;
            font-weight: bold;
            user-select: none;
          }

          // .StockProduct{

          // }

          .addToCart{
            background-color: var(--third-color);
            border-radius: 25px;
            padding: 0.3rem 0.8rem;
            transition: transform 0.5s ease, background-color 0.2s ease;
            color: var(--primary-color);
            font-size: 1rem;

            &:hover {
              transform: scale(1.05);
              filter: brightness(0.92);
              cursor: pointer; 
            } 
          }
        }
      }
    }
  }

  .copyrightSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;

    .copyright {
      color: var(--primary-color);
      background: var(--secondary-color);
      padding: 1rem;
      font-size: 0.8rem;
      border-radius: 25px;
      box-shadow: 0 4px 20px rgba(14, 93, 106, 0.25),
        0 2px 6px rgba(14, 93, 106, 0.15),
        inset 0 1px 2px rgba(255, 255, 255, 0.2);
    }
    .copyright a {
      color: var(--primary-color);
      font-weight: bold;
      font-size: 1.1rem;
      text-decoration: underline !important;
    }
  }
}
